<div class="row">

	<div class="col s12 m4 l3">
		<ul class="collection">
			<li class="collection-item waves-effect waves-orange col s12 m12 l12" ng-repeat="(key,value) in companies">
				<a href="" class="" ng-click="showCompany(key)">
					<h4>{{value.name}} {{activeComany.name}}</h4>
					<span></span>
				</a>
			</li>
		</ul>
	</div>

	<div class="col s12 m8 l9">
		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
				<br><br>
				<div class="row center">
					<img src="{{activeCompany.icon}}" class="responsive-img">
				</div>
				<h1 class="header center orange-text">{{activeCompany.name}} aasdgas</h1>
				<div class="row center">
					<h5 class="header col s12 light">
						{{activeCompany.description}}
					</h5>
				</div>
			</div>
		</div>
	</div>

</div>