<div class="section no-pad-bot" id="index-banner">
	<div class="container">
		<br><br>
		<h1 class="header center orange-text">Foro Online</h1>
		<div class="row center">
			<h5 class="header col s12 light">
				Lorem fistrum por la gloria de mi madre ahorarr te va a hasé pupitaa te voy a borrar el cerito. Ese hombree quietooor me cago en tus muelas está la cosa muy malar ahorarr. Amatomaa a gramenawer condemor hasta luego Lucas ese que llega jarl no te digo trigo por no llamarte Rodrigor ahorarr.
			</h5>
		</div>
	</div>
</div>
<!-- Modal Structure -->
  

<div class="container">
	<div class="section">

	<!--   Icon Section   -->
		<div class="row">
			<div class="col s12 m6">
				<div class="icon-block">
				<h2 class="center light-green-text text-darken-3"><i class="mdi-action-wallet-travel"></i></h2>
				<h5 class="center">Empresa</h5>

				<p class="light">
					Lorem fistrum se calle ustée minim ese pedazo de por la gloria de mi madre. Ullamco condemor hasta luego Lucas adipisicing eiusmod adipisicing. Llevame al sircoo occaecat me cago en tus muelas pecador irure qué dise usteer por la gloria de mi madre elit. Nisi no te digo trigo por no llamarte Rodrigor exercitation apetecan. Ex condemor consequat ese hombree exercitation. Caballo blanco caballo negroorl magna a gramenawer tiene musho peligro me cago en tus muelas exercitation. Consectetur apetecan jarl veniam minim velit condemor.
				</p>
				</div>
				<div class="row center">
					<a href="#/companies" class="btn-large waves-effect waves-light orange">Lista de Empresas</a>
				</div>
			</div>

			<div class="col s12 m6">
				<div class="icon-block">
					<h2 class="center light-green-text text-darken-3"><i class="mdi-social-school"></i></h2>
					<h5 class="center">Estudiantes</h5>
					<p class="light">
						Lorem fistrum se calle ustée minim ese pedazo de por la gloria de mi madre. Ullamco condemor hasta luego Lucas adipisicing eiusmod adipisicing. Llevame al sircoo occaecat me cago en tus muelas pecador irure qué dise usteer por la gloria de mi madre elit. Nisi no te digo trigo por no llamarte Rodrigor exercitation apetecan. Ex condemor consequat ese hombree exercitation. Caballo blanco caballo negroorl magna a gramenawer tiene musho peligro me cago en tus muelas exercitation. Consectetur apetecan jarl veniam minim velit condemor.
					</p>
				</div>
			</div>
			<div class="row center">
				<a class="btn-large waves-effect waves-light orange" href="#/upload-cv" >Sube Tu CV</a>
			</div>
		</div>
		<br><br>
	</div>
</div>