<div class="row">

<!--
	<form class="col s12" 
		id="uploadForm"
		enctype="mutipart/form-data"
		action="/api/uploadCV/"
		method="post"
	>
		<div class="row">
			<div class="input-field col s6">
				<input name="first_name" type="text" class="validate">
				<label for="first_name">Nombre</label>
			</div>
			<div class="input-field col s6">
				<input name="last_name" type="text" class="validate">
				<label for="last_name">Apellidos</label>
			</div>
			<div class="input-field col s6">
				<input name="dni" type="number" class="validate">
				<label for="dni">DNI</label>
			</div>
		</div>
		<div class="row">
			<select class="browser-default">
				<option value="" disabled selected>Elige tu centro de estudios</option>
				<option ng-repeat= "(key,school) in schools" value="{{key}}">{{school}}</option>
			</select>
			<div class="input-field">
				<input type="file" name="CV">
			</div>
			<input class='btn' type="submit" value="Subir CV" name="submit">
		</div>
	</form>
	-->
	<iframe src="https://www.forumbestmadrid.org/subidaCV/formularioweb.php" frameborder="0" style="width:1460px;height:500px; padding-left:200px" height="400" width="660" align="middle"></iframe>
</div>
<br><br>